body{
    margin:0;
    background:black;
    overflow:hidden;
    font-family:Segoe UI;
    color:white;
}

/* ---------- CASCADA ---------- */

.cascada{
    position:absolute;
    width:100%;
    height:100%;
    display:flex;
    justify-content:space-around;
}

.columna{
    display:flex;
    flex-direction:column;
    animation: caer 12s linear infinite;
}

.letra{
    color:#ff4d6d;
    margin:3px;
    opacity:0;
    animation: aparecer 4s infinite;
}

@keyframes caer{
    from{transform:translateY(-120%);}
    to{transform:translateY(120%);}
}

@keyframes aparecer{
    0%,100%{opacity:0;}
    50%{opacity:0.9;}
}

/* ---------- BOTON ---------- */

#pantalla-inicio{
    position:fixed;
    width:100%;
    height:100vh;
    transition:transform 1.2s, opacity 1.2s;
}

#cuadro-iniciar{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:260px;
    height:140px;
    border:3px solid #ff003c;
    border-radius:20px;
    background:transparent;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    box-shadow:0 0 20px #ff003c;
}

/* ---------- ESCENA ---------- */

#escena{
    display:none;
    position:fixed;
    width:100%;
    height:100vh;
}

/* Gota real */
#gota{
    position:absolute;
    top:50%;
    left:50%;
    width:14px;
    height:20px;
    background:red;
    border-radius:50% 50% 60% 60%;
    transform:translate(-50%,-50%);
    box-shadow:0 0 15px red;
    display:none;
}

.caer{
    animation:caerGota 2.5s forwards ease-in;
}

@keyframes caerGota{
    to{ top:85%; }
}

canvas{
    position:absolute;
    width:100%;
    height:100%;
}

/* Poemas */
.poema{
    position:absolute;
    width:28%;
    top:20%;
    opacity:0;
    color:#ffd6e0;
}

#poema-izq{ left:4%; }
#poema-der{ right:4%; text-align:right; }

/* Contador */
#contador{
    position:absolute;
    bottom:5%;
    left:4%;
    opacity:0;
    color:#ffd6e0;
}

/* Final */
#final{
    display:none;
    position:fixed;
    width:100%;
    height:100vh;
    justify-content:center;
    align-items:center;
    font-size:40px;
    color:#ffb6c1;
}
