body{
    margin:0;
    background:black;
    overflow:hidden;
    font-family:Arial;
}

/* Matrix */
#matrix{
    position:fixed;
    width:100%;
    height:100%;
}

/* Botón */
#startBox{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding:40px 80px;
    border-radius:20px;
    border:3px solid #ff2e63;
    box-shadow:0 0 25px #ff2e63;
    color:white;
    font-size:28px;
    cursor:pointer;
    background:transparent;
    z-index:10;
}

/* Punto */
#singularity{
    position:fixed;
    width:20px;
    height:20px;
    background:#ff2e63;
    border-radius:50%;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    display:none;
}

/* Agua */
#waterCanvas{
    position:fixed;
    bottom:0;
    width:100%;
    height:40%;
    opacity:0;
}

/* Árbol */
#treeCanvas{
    position:fixed;
    bottom:0;
    width:100%;
    height:100%;
    pointer-events:none;
}

/* Poemas */
.poem{
    position:fixed;
    top:15%;
    width:25%;
    color:#ffb6c1;
    font-size:18px;
    line-height:1.7;
    opacity:0;
}

#poemLeft{left:5%;}
#poemRight{right:5%;}

/* Contador */
#counter{
    position:fixed;
    bottom:10px;
    left:10px;
    color:white;
    opacity:0;
}


