body{
margin:0;
overflow:hidden;
background:black;
font-family:monospace;
color:white;
}

.hidden{ display:none; }

/* INICIO */
#inicio{
position:absolute;
width:100%;
height:100%;
}

#matrixCanvas{
position:absolute;
width:100%;
height:100%;
}

#btnInicio{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
font-size:28px;
padding:15px 50px;
background:#7a0000;
color:white;
border:none;
cursor:pointer;
}

/* ESCENA */
#scene{
position:absolute;
width:100%;
height:100%;
}

/* CONTADOR */
#contador{
position:absolute;
top:20px;
width:100%;
text-align:center;
font-size:22px;
}

/* POEMAS */
.poema{
position:absolute;
width:25%;
top:60%;
opacity:0;
transform:translateY(80px);
transition:all 6s linear;
line-height:1.6;
font-size:18px;
}

.poema.visible{
opacity:1;
transform:translateY(-40px);
}

#poemaIzq{ left:5%; }
#poemaDer{ right:5%; }

