body{
    margin:0;
    background:black;
    overflow:hidden;
    font-family:Georgia, serif;
    color:white;
}

#scene{
    position:relative;
    width:100vw;
    height:100vh;
}

canvas{
    position:absolute;
    top:0;
    left:0;
}

#counterBox{
    position:absolute;
    bottom:20px;
    left:50%;
    transform:translateX(-50%);
    text-align:center;
    font-size:18px;
}


