*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:black;
overflow:hidden;
font-family:monospace;
color:white;
}

/* OCULTAR */
.hidden{
display:none;
}

/* PANTALLA INICIAL */
#inicio{
position:absolute;
width:100%;
height:100%;
}

#matrixCanvas{
position:absolute;
width:100%;
height:100%;
}

#botonContainer{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}

#btnInicio{
font-size:28px;
padding:18px 60px;
background:transparent;
border:3px solid #ff0033;
color:white;
border-radius:12px;
cursor:pointer;
box-shadow:0 0 15px #ff0033;
transition:0.3s;
}

#btnInicio:hover{
box-shadow:0 0 30px #ff0033;
}

/* ESCENA */
#scene{
position:absolute;
width:100%;
height:100%;
}

/* CONTADOR */
#contador{
position:absolute;
top:20px;
width:100%;
text-align:center;
font-size:22px;
letter-spacing:1px;
}

/* POEMAS */
.poema{
position:absolute;
width:26%;
top:60%;
opacity:0;
transform:translateY(80px);
transition:all 6s linear;
line-height:1.7;
font-size:18px;
text-align:justify;
}

.poema.visible{
opacity:1;
transform:translateY(-40px);
}

#poemaIzq{ left:4%; }
#poemaDer{ right:4%; }



