/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black;
    color: white;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

h1 {
    color: white !important;
    text-shadow: 0 0 10px black;
}

p {
    color: #ddd !important;
    text-shadow: 0 0 8px black;
}

/* FONDO (IMAGEN INICIAL) */
#background {
    position: fixed !important;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    object-fit: cover;

    z-index: -999;

    pointer-events: none;

    display: block; /* 👈 evita comportamiento inline */

    filter: blur(8px) brightness(0.5);
}

/* PANTALLAS */
.screen {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;
}

/* ACTIVA */
.screen.active {
    display: flex;
    flex-direction: column;   /* apila vertical */
    justify-content: center;  /* centra vertical */
    align-items: center;      /* centra horizontal */
    text-align: center;       /* centra texto */
}

/* ANIMACIÓN SUAVE */
.hidden {
    opacity: 0;
    transform: scale(1.05);
    transition: all 0.4s ease;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 20px;
    width: 80%;
}

/* CARDS */
.card {
    cursor: pointer;
    transition: transform 0.3s;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
}

/* VIDEO */
#playerScreen {
    background: black;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    background: black;
}
