body{
margin:0;
overflow:hidden;
background:black;
font-family: monospace;
color:white;
}

.hidden{
display:none;
}

/* INICIO */
#inicio{
position:absolute;
width:100%;
height:100%;
}

#matrixCanvas{
position:absolute;
width:100%;
height:100%;
}

#btnInicio{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
padding:15px 40px;
font-size:26px;
background:#8b0000;
color:white;
border:none;
cursor:pointer;
}

/* ESCENA */
#sceneCanvas{
position:absolute;
width:100%;
height:100%;
}

/* CONTADOR */
#contador{
position:absolute;
top:20px;
width:100%;
text-align:center;
font-size:22px;
}

/* POEMAS */
.poema{
position:absolute;
top:55%;
width:25%;
opacity:0;
transform:translateY(60px);
transition: all 5s linear;
font-size:18px;
line-height:1.6;
}

.poema.visible{
opacity:1;
transform:translateY(-40px);
}

#poemaIzq{ left:5%; }
#poemaDer{ right:5%; }


