body{
    margin:0;
    background:black;
    overflow:hidden;
    font-family:Georgia, serif;
    color:white;
}

.hidden{ display:none; }

/* Inicio */
#startScreen{
    position:fixed;
    width:100vw;
    height:100vh;
}

#matrixCanvas{
    position:absolute;
    width:100%;
    height:100%;
}

#startBox{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    padding:30px 80px;
    border:3px solid #ff0033;
    border-radius:15px;
    color:#ff0033;
    font-size:28px;
    cursor:pointer;
    box-shadow:0 0 20px #ff0033;
}

/* Escena */
#scene{
    position:relative;
    width:100vw;
    height:100vh;
}

#mainCanvas{
    position:absolute;
    top:0;
    left:0;
}

/* Poemas */
.poem{
    position:absolute;
    width:28%;
    top:50%;
    transform:translateY(-50%);
    opacity:0;
    line-height:1.6;
}

#poemLeft{ left:3%; }
#poemRight{ right:3%; }

#counterBox{
    position:absolute;
    bottom:20px;
    left:50%;
    transform:translateX(-50%);
    text-align:center;
    font-size:18px;
}


