body {
margin: 0;
overflow: hidden;
background: #000;
font-family: Arial, sans-serif;
color: white;
text-align: center;
}

.hidden {
display: none;
}

#intro {
position: absolute;
width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}

#startBtn {
padding: 20px 40px;
font-size: 22px;
cursor: pointer;
}

#scene {
position: relative;
width: 100%;
height: 100vh;
}

#title {
margin-top: 20px;
font-size: 28px;
}

#counter {
font-size: 24px;
margin-top: 10px;
}

.poem {
position: absolute;
top: 60%;
width: 200px;
opacity: 0;
font-size: 18px;
transition: all 6s linear;
}

.left {
left: 5%;
}

.right {
right: 5%;
}

.showPoem {
top: 40%;
opacity: 1;
}

.hidePoem {
top: 20%;
opacity: 0;
}

canvas {
position: absolute;
left: 0;
top: 0;
}


