/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* General */
body{
    background:black;
    overflow:hidden;
    height:100vh;
}

/* Pantalla inicial */
#pantalla-inicio{
    position:relative;
    width:100%;
    height:100vh;
}

/* Cascada */
.cascada{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content:space-around;
    pointer-events:none;
}

/* Columnas */
.columna{
    display:flex;
    flex-direction:column;
    align-items:center;
    animation: caer linear infinite;
}

/* Letras */
.letra{
    color:#ff4d6d;
    font-size:20px;
    margin:4px 0;
    opacity:0;
    animation: aparecer 4s infinite;
}

/* Animaciones (más lentas) */
@keyframes caer{
    0%{ transform: translateY(-120%); }
    100%{ transform: translateY(120%); }
}

@keyframes aparecer{
    0%,100%{ opacity:0; }
    50%{ opacity:0.8; }
}

/* Cuadro central (transparente) */
#cuadro-iniciar{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width:240px;
    height:120px;
    background:transparent; /* sin fondo */
    border-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    z-index:10;

    border:3px solid #ff003c;
    box-shadow:
        0 0 10px #ff003c,
        0 0 20px #ff003c,
        0 0 40px #ff003c;
}

/* Texto del botón */
#cuadro-iniciar h1{
    color:#ff003c;
    letter-spacing:3px;
}

/* Segunda pantalla */
#segunda-pantalla{
    display:none;
    width:100%;
    height:100vh;
    background:black;
    color:white;
    justify-content:center;
    align-items:center;
    font-size:32px;
}


